@model AutovehiculeDetailsVM


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow-lg">
                    <div class="card-header text-center bg-black text-white">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2 class="text-white py-2">@(Model.Autovehicule.Id != 0 ? "Update " : "Create ") Autovehicule  <i class="bi bi-car-front-fill"></i></h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" class="row" enctype="multipart/form-data">
                            <input asp-for="@Model.Autovehicule.Id" hidden />
                            <input asp-for="@Model.Autovehicule.ImageUrl" hidden />
                            <div class="row">
                                <div class="col-8">
                                    <div class="border p-3">
                                        @* <div asp-validation-summary="ModelOnly"></div> *@
                                        <div class="form-group mb-3">
                                            <label asp-for="Autovehicule.Type" class="ms-2"></label>
                                            <input asp-for="Autovehicule.Type" class="form-control border-0 shadow">
                                            <span asp-validation-for="Autovehicule.Type" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Autovehicule.LicensePlate" class="ms-2"></label>
                                            <input asp-for="Autovehicule.LicensePlate" class="form-control border-0 shadow">
                                            <span asp-validation-for="Autovehicule.LicensePlate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Autovehicule.HasITP" class="ms-2"></label>
                                            <input class="form-check-input"
                                            type="checkbox" 
                                            data-val="true" 
                                            data-val-required="The Has ITP field is required."
                                            id="HasITP"
                                            name="Autovehicule.HasITP"
                                            value="true">
                                            <span asp-validation-for="Autovehicule.HasITP" class="text-danger"></span>

                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Autovehicule.ITPExpirationDate" class="ms-2"></label>
                                            <input asp-for="Autovehicule.ITPExpirationDate" class="form-control border-0 shadow">
                                            <span asp-validation-for="Autovehicule.ITPExpirationDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Autovehicule.VinNumber" class="ms-2"></label>
                                            <input asp-for="Autovehicule.VinNumber" class="form-control border-0 shadow">
                                            <span asp-validation-for="Autovehicule.VinNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Autovehicule.HasVinieta" class="ms-2"></label>
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   data-val="true"
                                                   data-val-required="The Has Vinieta field is required."
                                                   id="HasVinieta"
                                                   name="Autovehicule.HasVinieta"
                                                   value="true">
                                            <span asp-validation-for="Autovehicule.HasVinieta" class="text-danger"></span>
                                            <div class="form-group mb-3">
                                                <label asp-for="Autovehicule.VinietaExpirationDate" class="ms-2"></label>
                                                <input asp-for="Autovehicule.VinietaExpirationDate" class="form-control border-0 shadow">
                                                <span asp-validation-for="Autovehicule.VinietaExpirationDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Autovehicule.InsurenceDate" class="ms-2"></label>
                                            <input asp-for="Autovehicule.InsurenceDate" class="form-control border-0 shadow">
                                            <span asp-validation-for="Autovehicule.InsurenceDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Autovehicule.InsuranceExpirationDate" class="ms-2"></label>
                                            <input asp-for="Autovehicule.InsuranceExpirationDate" class="form-control border-0 shadow">
                                            <span asp-validation-for="Autovehicule.InsuranceExpirationDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Autovehicule.EmployeesVM.FullName" class="ms-2"></label>
                                            <select asp-for="Autovehicule.EmployeeId" asp-items="@Model.EmployeeList" class="form-control border-0 shadow">
                                                <option disabled selected>---Select Employee---</option>
                                            </select>
                                            <span asp-validation-for="Autovehicule.EmployeesVM.FullName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Autovehicule.ImageUrl" class="ms-2"></label>
                                            <input type="file" name="file" class="form-control border-0 shadow">
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-6">
                                                @if (Model.Autovehicule.Id != 0)
                                                {
                                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                                }

                                            </div>
                                            <div class="col-6">

                                                <a asp-controller="Autovehicule" asp-action="Index" class="btn btn-outline-primary border form-control">
                                                    Back to List
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <img src="@Model.Autovehicule.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


@section Scripts {
   
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
