@model AutovehiculeVM

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div class="col-12 text-center">
        <h2 class="text-black py-2">Autovehicule @Model.LicensePlate </h2>
    </div>
</head>

<body>
    <div style="overflow-x:auto;">
        <table  class=" table table-bordered table-striped " style="width:100%">
            <thead>
                <tr>                  
                    <th>
                        Type
                    </th>
                    <th>
                        License Plate
                    </th>
                    <th>
                        VIN Number
                    </th>
                    <th>
                        Insurance Start Date
                    </th>
                    <th>
                        ITP
                    </th>
                    <th>
                        ITP Expiration Date
                    </th>
                    <th>
                        Insurance Expiration Date
                    </th>
                    <th>
                        Vinieta
                    </th>
                    <th>
                        Vinieta Expiration Date
                    </th>
                    <th>
                        Employee
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Type
                    </td>
                    <td>
                        @Model.LicensePlate
                    </td>
                    <td> 
                        @Model.VinNumber
                    </td>
                    <td>
                        @Model.DisplayInsurenceDate
                    </td>
                    <td>
                        @Model.DisplayInsuranceExpirationDate
                    </td>
                    <td> 
                        @Model.DisplayHasITP
                    </td>
                    <td>
                        @Model.DisplayITPExpirationDate
                    </td>
                    <td>
                        @Model.DisplayHasVinieta
                    </td>
                    <td>
                        @Model.DisplayVinietaExpirationDate
                    </td>
                    <td>
                        @Model.Employees.FullName
                    </td>
                </tr>  
            </tbody>
        </table>
</body>
